name: CI

on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:

    runs-on: macos-latest
    
    strategy:
      matrix:
        destination: ["platform=iOS Simulator,OS=13.1,name=iPhone 11 Pro"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: xcodebuild clean test -project StocketiOS.xcodeproj -scheme Development -destination "platform=iOS Simulator,OS=13.1,name=iPhone 11 Pro" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
